@font-face {
    font-family: 'raleway';
    src: url('../font/Raleway-Bold-webfont.eot');
    src: url('../font/Raleway-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/Raleway-Bold-webfont.woff2') format('woff2'),
         url('../font/Raleway-Bold-webfont.woff') format('woff'),
         url('../font/Raleway-Bold-webfont.ttf') format('truetype'),
         url('../font/Raleway-Bold-webfont.svg#ralewaybold') format('svg');
    font-weight: 700;
    font-style: normal;

}




@font-face {
    font-family: 'raleway';
    src: url('../font/Raleway-Light-webfont.eot');
    src: url('../font/Raleway-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/Raleway-Light-webfont.woff2') format('woff2'),
         url('../font/Raleway-Light-webfont.woff') format('woff'),
         url('../font/Raleway-Light-webfont.ttf') format('truetype'),
         url('../font/Raleway-Light-webfont.svg#ralewaylight') format('svg');
    font-weight: 300;
    font-style: normal;

}




@font-face {
    font-family: 'raleway';
    src: url('../font/Raleway-Regular-webfont.eot');
    src: url('../font/Raleway-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/Raleway-Regular-webfont.woff2') format('woff2'),
         url('../font/Raleway-Regular-webfont.woff') format('woff'),
         url('../font/Raleway-Regular-webfont.ttf') format('truetype'),
         url('../font/Raleway-Regular-webfont.svg#ralewayregular') format('svg');
    font-weight: normal;
    font-style: 400;

}

@mixin font-mono {
    font-family: "Consolas","Monaco","Ubuntu Mono",monospace !important;
}

@mixin font-major {
    font-family: 'raleway', 'Helvetica Neue', Arial, "Hiragino Sans GB", "Microsoft YaHei",
             "WenQuanYi Micro Hei", sans-serif;
}